<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>fast search test</title>
        <script type="text/javascript" src="js/fastSearch.js" defer></script>
        <link rel="stylesheet" href="css/fastSearch.css"/>
    </head>
    <body>
        <input id="name_input_bar"/>
        <div id="suggest_dropdown">
            <!-- <div class="suggest_element">
                <p class="suggest_product_id">9971</p>
                <p class="suggest_name">apollo</p> -->
            </div>
        </div>

        <div id="move_list">
            <!-- <div class="move_element">
                <div class="move_id">9971</div>
                <div class="move_name">apollo cake 24pcs</div>
            </div>
            <div class="move_element">
                <div class="move_id">9971</div>
                <div class="move_name">apollo cake</div>
            </div> -->
        </div>
    </body>
</html>