<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>fast search test</title>
        <style>
            *{
                margin: 0;
                padding: 0;
            }
        </style>
        <script type="text/javascript" src="js/fastSearch.js" defer></script>
    </head>
    <body style="padding: 1%;">
        <input id="name_input_bar"/>
        <div id="suggest_dropdown">
            <!-- <div class="suggest_element">
                <p class="suggest_product_id">9971</p>
                <p class="suggest_name">apollo</p> -->
            </div>
        </div>
    </body>
</html>