<!DOCTYPE html>

<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Product Detail</title>
        <script src="/js/product.js" defer></script>
    </head>

    <body>
        <div>
            <div id="product_section">
                <label for="product_id">Product ID :</label>
                <input  id="product_id" type="text">
                <label for="product_name">Product Name :</label>
                <input  id="product_name" type="text">
                <label for="product_uom">Default Uom :</label>
                <input  id="product_uom" type="text">
                <div>
                    <label>Activity:</label>
                    <label for="active_yes">Yes</label>
                    <input id="active_yes" name="active" type="radio">
                    <label for="no">No</label>
                    <input id="no" name="active" type="radio">
                </div>
            </div>
            
            <form id="measurement_section">
                <select id="measurement_list">
                    <option th:if="${productMeta == null}"></option>
                    <option>new Measure</option>

                </select>
                <label for="measurement_name">measurement_name</label>
                <input id="measurement_name" placeholder="UNIT"></input>
                <input id="measure" placeholder="1"></input>
                <input id="barcode"></input>
            </form>
        </div>

        <div id="bottom_section">
            <button id="create" th:if="${productMeta == null}">create</button>
            <button id="update" th:if="${productMeta != null}">update</button>
            <button id="delete" disabled>delete</button>
        </div>
    </body>
</html>