<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.knx.inventorydemo.mapper.ProductMeasurementMapper">

    <resultMap id="ProductMeas" type="com.knx.inventorydemo.entity.ProductMeasurement">
        <id column="relative_id" property="relativeId"/>
        <result column="product_id" property="productId" />
        <result column="measurement" property="measurement"/>
        <result column="uom_name" property="UOM_name"/>
        <result column="layer_update_rule_id" property="updateRule"/>
        <result column="channel" property="salesChannel"/>
        <result column="barcode" property="anotherBarcode"/>
    </resultMap>

    <insert id="addMeasureTo">
        insert into product_measurement (relative_id, product_id, measurement, uom_name, layer_update_rule_id, channel, barcode)
        values (#{measure.relativeId}, #{measure.productId}, #{measure.measurement}, #{measure.UOM_name}, #{measure.updateRule}, #{channel}, #{measure.anotherBarcode})
    </insert>

    <update id="updateMeasureTo">
        update product_measurement
        <trim prefix="set" suffixOverrides=",">
            <if test="measure.relativeId != null">relative_id = #{measure.relativeId},</if>
            <if test="measure.productId != null">product_id = #{measure.productId},</if>
            <if test="measure.measurement != null">measurement = #{measure.measurement},</if>
            <if test="measure.UOM_name != null">uom_name = #{measure.UOM_name},</if>
            <if test="measure.updateRule != null">layer_update_rule_id = #{measure.updateRule},</if>
            <if test="measure.anotherBarcode != null">barcode = #{measure.anotherBarcode}</if>
        </trim>
        where relative_id = #{relativeId} and channel = #{channel}
    </update>

    <update id="changeUpdateRuleToByProductId">
        update product_measurement set
        layer_update_rule_id = #{updateRule}
        where product_id = #{productId} and channel = #{channel}
    </update>

    <select id="getProductMeasByProductIdWithChannel" resultMap="ProductMeas">
        select relative_id, product_id, measurement, uom_name, layer_update_rule_id, channel, barcode
        from product_measurement
        where product_id = #{productId} and channel = #{channel}
    </select>

    <select id="getProductMeasByRelativeIdWithChannel" resultMap="ProductMeas">
        select relative_id, product_id, measurement, uom_name, layer_update_rule_id, channel, barcode
        from product_measurement
        where relative_id = #{relativeId} and channel = #{channel}
    </select>

    <select id="bulkGetProductMeasByRelativeIdwithChannel" resultMap="ProductMeas">
        select relative_id, product_id, measurement, uom_name, layer_update_rule_id, channel, barcode
        from product_measurement
        <where>
            <foreach collection="relativeIds" item="relativeId"
            open="relative_id in (" separator="," close=")" >
                #{relativeId}
            </foreach>
        </where>
    </select>

    <select id="getProductMeasListBySimilarRelativeId" resultMap="ProductMeas">
        select relative_id, product_id, measurement, uom_name, layer_update_rule_id, channel, barcode
        from product_measurement
        where relative_id like #{relativeId} and channel = #{channel}
    </select>

    <delete id="bulkRemoveMeasureByProductIds" parameterType="java.util.List">
        delete low_priority from product_measurement where product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </delete>

    <insert id="measInit">
        create table if not exists product_measurement (
            product_id varchar(20),
            measurement float,
            relative_id varchar(30),
            barcode varchar(30),
            uom_name varchar(8),
            layer_update_rule_id varchar(2),
            channel varchar(10),
            unique key (relative_id)
        );
    </insert>

<!-- 
    <select id="checkLayerExists" resultType="Integer" parameterType="String">
        select
            if(isnull(TABLE_NAME), 0, 1)
        from
            information_schema.tables
        where
            TABLE_name = #{layer} and
            TABLE_SCHEMA like 'inventorydemo' and
            TABLE_TYPE like 'BASE TABLE';
    </select> -->
</mapper>