<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.knx.inventorydemo.mapper.ProductStockingMapper">
    <insert id="measInit">
        create table inventorydemo.product_stocking (
            product_id varchar(20),
            min_quantity double,
            quantity_available double,
            quantity_on_hold double,
            restock_frequence_interval float
        );
    </insert>
</mapper>