<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knx.inventorydemo.mapper.ProductMetaMapper">

  <resultMap id="ProductMetaM" type="ProductMeta">
  <!-- <constructor>
    <arg column="id" name=""/>
  </constructor> -->
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="defaultUom" column="default_uom"/>
    <result property="activity" column="activity"/>
    <association property="vendor">
      <id column="vendor_name" property="name"/>
    </association>
  </resultMap>

  <insert id="addNewProduct" parameterType="ProductMeta"
    keyProperty="id"> insert into product_meta (id, name, vendor_name, default_uom, activity) values (#{id},
    #{name}, #{vendor.name}, #{defaultUom}, #{activity}) </insert>

  <select id="getProductById" resultMap="ProductMetaM">
    select id, name, vendor_name, default_uom, activity from product_meta where id = #{id}
  </select>

  <select id="getProductByStr" resultMap="ProductMetaM">
    select id, name from product_meta where name LIKE #{str}
  </select>

  <delete id="deleteProductMetaById">
    delete LOW_PRIORITY from product_meta where id = #{id}
  </delete>

  <update id="update" parameterType="ProductMeta">
    update inventorydemo.product_meta 
      <trim prefix="set" suffixOverrides=",">
        <if test="name != null">name = #{name}</if>
        <if test="vendor != null">vendor_name = #{vendor.name}</if>
        <if test="defaultUom != null">default_uom = #{defaultUom}</if>
        <if test="activity != null">activity = #{activity}</if>
      </trim>
    where id = #{id}
  </update>

  <update id="setActivityById">
    update inventorydemo.product_meta set
    <choose>
      <when test="activity == true">activity = true</when>
      <when test="activity == false">activity = false</when>
    </choose>
    where id = #{id}
  </update>

  <select id="checkActivityById" resultType="_boolean">
    select activity from product_meta
    where id = #{id}
  </select>

  <select id="bulkCheckUnactivityById" resultType="java.lang.String">
    select id from product_meta
    where activity = 0 and id in
    <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
      #{productId}
    </foreach>
  </select>

  <select id="getAll" resultMap="ProductMetaM"> select * from
    product_meta; </select>

  <insert id="init"> create table if not exists inventorydemo.product_meta ( id varchar(20) not
    null, name varchar(50) not null, vendor_name varchar(20), default_uom varchar(8) not null
    default 'UNIT', activity boolean default false, primary key (id) ); </insert>
</mapper>